.container {
  width: 100%;
  background-color: #ebf1fb;

  .right_container {
    padding: 1rem;
    flex: 1;
    margin-left: 350px;
    .heading {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 500;
      padding: 0 10px;
      color: #363535;
    }
    .highlights_container {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;

      .card_container {
        background-color: #ffffff;
        flex-basis: calc(24% - 10px);
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 5px;
        .card_info {
          .heading {
            color: #616161;
            font-size: 16px;
            padding: 0;
          }
          .heading_val {
            font-size: 24px;
          }
        }

        @media screen and (max-width: 1300px) {
          flex-basis: calc(31.1%);
        }
        @media screen and (max-width: 992px) {
          flex-basis: calc(50% - 10px);
        }
        @media screen and (max-width: 670px) {
          flex-basis: calc(100% - 10px);
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .displayNone {
      display: none;
    }
    .right_container {
      margin-left: 0;
    }
  }
}

.divider{
  width: 90%;
  background-color: #64379f;
  height: 1px;
  margin: 20px auto;
  border-radius: 50px;
}